
<div>
    <!-- mainview -->
    <mainview :title="isNew ? '新建': '编辑'">
        <breadcrumb slot="breadcrumb">
            <breadcrumb-item link="/" class="am-icon-home">首页</breadcrumb-item>
            <breadcrumb-item>政务快车</breadcrumb-item>
            <breadcrumb-item link="/zwkc/yqck">园区窗口</breadcrumb-item>
            <breadcrumb-item>{{isNew ? '新建': '编辑'}}</breadcrumb-item>
        </breadcrumb>

        <!-- mainview-body -->
        <template>
            <am-panel title="园区窗口信息">
                <div class="am-u-md-9 am-u-md-centered">
                    <form class="am-form am-form-horizontal">

                        <div class="am-form-group">
                            <div class="am-u-md-2">
                                <label class="am-form-label">标题</label>
                            </div>
                            <div class="am-u-md-10 am-u-end">
                                <input type="text" name="title" v-model="model.title" class="am-input-sm" placeholder="标题">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <div class="am-u-md-2">
                                <label class="am-form-label">摘要</label>
                            </div>
                            <div class="am-u-md-10 am-u-end">
                                <textarea name="shortContent" rows="5" v-model="model.shortContent" placeholder="摘要" class="am-input-sm"></textarea>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <div class="am-u-md-2">
                                <label class="am-form-label">类型</label>
                            </div>
                            <div class="am-u-md-4 am-u-end">
                                <select name="type" v-model="model.type" class="am-input-sm">
                                    <option value="{{$key}}" v-for="type in types">{{type}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <div class="am-u-md-2">
                                <label class="am-form-label">内容</label>
                            </div>
                            <div class="am-u-md-10 am-u-end">
                            <veditor name="content" :content.sync="model.content"></veditor>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <div class="am-u-md-10 am-u-md-offset-2">
                                <form-submit @submit="submit"></form-submit>
                            </div>
                        </div>

                    </form>
                </div>
            </am-panel>
        </template><!--/ mainview-body -->
    </mainview><!--/ mainview -->
</div>
