<div>
    <!-- am-panel -->
    <am-panel title="编辑">
        <div slot="body">
            <!-- form wrapper -->
            <div class="am-g">
                <div class="am-u-md-9 am-u-md-centered">
                    <!-- form -->
                    <form class="am-form am-form-horizontal">
                        <!-- <fieldset><legend>fieldset title</legend></fieldset> -->
                        <div class="am-form-group">
                            <label class="am-form-label am-u-md-2">ID</label>
                            <div class="am-u-md-10">
                                <input type="text" value="{{model.id}}" disabled>
                            </div>
                        </div>                        
                        <div class="am-form-group">
                            <label class="am-form-label am-u-md-2">标题</label>
                            <div class="am-u-md-10">
                                <input type="text" value="{{model.title}}" disabled>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-form-label am-u-md-2">公司名称</label>
                            <div class="am-u-md-10">
                                <input type="text" value="{{model.company}}" disabled>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-form-label am-u-md-2">联系人</label>
                            <div class="am-u-md-10">
                                <input type="text" value="{{model.name}}" disabled>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-form-label am-u-md-2">手机号码</label>
                            <div class="am-u-md-10">
                                <input type="text" value="{{model.mobile}}" disabled>
                            </div>
                        </div>
                        <!-- <div class="am-form-group">
                            <label class="am-form-label am-u-md-2">区域</label>
                            <div class="am-u-md-10">
                                <input type="text" value="{{model.district| dict 'district'}}" disabled>
                            </div>
                        </div> -->
                        <div class="am-form-group">
                            <label class="am-form-label am-u-md-2">标签</label>
                            <div class="am-u-md-10">
                                <span class="am-badge am-badge-warning am-radius am-margin-right-xs" v-for="item in model.tags">
                                    {{item.tag}}
                                </span>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-form-label am-u-md-2">职位</label>
                            <div class="am-u-md-10">
                                <input type="text" value="{{model.position}}" disabled>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-form-label am-u-md-2">招聘人数</label>
                            <div class="am-u-md-10">
                                <input type="text" value="{{model.number}}" disabled>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-form-label am-u-md-2">应聘人数</label>
                            <div class="am-u-md-10">
                                <input type="text" value="{{model.apply}}" disabled>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-form-label am-u-md-2">薪资</label>
                            <div class="am-u-md-10">
                                <input type="text" value="{{model.pay}}" disabled>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-form-label am-u-md-2">计薪单位</label>
                            <div class="am-u-md-10">
                                <input type="text" value="{{model.payUnit| dict 'payUnit'}}" disabled>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-form-label am-u-md-2">结算方式</label>
                            <div class="am-u-md-10">
                                <input type="text" value="{{model.payType| dict 'payType'}}" disabled>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-form-label am-u-md-2">性别</label>
                            <div class="am-u-md-10">
                                <input type="text" value="{{model.gender| dict 'gender1'}}" disabled>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-form-label am-u-md-2">工作开始日</label>
                            <div class="am-u-md-10">
                                <input type="text" value="{{model.beginDay}}" disabled>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-form-label am-u-md-2">工作结束日</label>
                            <div class="am-u-md-10">
                                <input type="text" value="{{model.endDay}}" disabled>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-form-label am-u-md-2">工作地点</label>
                            <div class="am-u-md-10">
                                <input type="text" value="{{model.location}}" disabled>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-form-label am-u-md-2">工作详情</label>
                            <div class="am-u-md-10">
                                <textarea rows="3" disabled>{{model.detail}}</textarea>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-form-label am-u-md-2">发布时间</label>
                            <div class="am-u-md-10">
                                <input type="text" value="{{model.time}}" disabled>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-form-label am-u-md-2">游览量</label>
                            <div class="am-u-md-10">
                                <input type="text" value="{{model.count}}" disabled>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-form-label am-u-md-2">发布者</label>
                            <div class="am-u-md-10">
                                <input type="text" value="{{model.user}}" disabled>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-form-label am-u-md-2">状态</label>
                            <div class="am-u-md-10">
                                <select v-model="model.state">
                                    <option v-for="item in $root.dict['xept.state']" value="{{$key}}">{{item}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <div class="am-u-md-10 am-u-md-offset-2">
                                <button @click.prevent="submit" class="am-btn am-btn-default am-btn-sm"><i class="am-icon-save"></i> 保存</button>
                            </div>
                        </div>
                    </form>
                    <!--/ form -->
                </div>
            </div>
            <!--/ form wrapper -->
        </div>
    </am-panel>
    <!--/ am-panel -->
</div>
