
<div>
    <!-- mainview -->
    <mainview :title="pageTitle">
        <breadcrumb slot="breadcrumb">
            <breadcrumb-item link="/" class="am-icon-home">首页</breadcrumb-item>
            <breadcrumb-item link="/crud">CRUD</breadcrumb-item>
            <breadcrumb-item>{{pageTitle}}</breadcrumb-item>
        </breadcrumb>

        <!-- mainview-body -->
        <template>

            <am-panel title="全宽">
                <!-- form container -->
                <div class="am-g">
                    <div class="am-u-md-10 am-u-md-offset-1">
                        <!-- form -->
                        <validator name="v0">
                        <form class="am-form am-form-horizontal">
                            <div class="am-form-group">
                                <div class="am-u-md-2">
                                    <label class="am-form-label">标题</label>
                                </div>
                                <div class="am-u-md-10">
                                    <input v-model="model.title" type="text" placeholder="输入标题" v-validate:title="{required: true}">
                                    <span class="form-group-msg" v-if="$v0.title.touched && $v0.title.invalid">请输入标题!</span>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <div class="am-u-md-2">
                                    <label class="am-form-label">内容内容</label>
                                </div>
                                <div class="am-u-md-10">
                                    <input v-model="model.content" type="text" placeholder="输入内容" v-validate:content="{required: true}">
                                    <span class="form-group-msg" v-if="$v0.content.touched && $v0.content.invalid">请输入内容!</span>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <div class="am-u-md-10 am-u-md-offset-2">
                                    <form-submit @submit="submit" :disabled="!$v0.valid"></form-submit>
                                </div>
                            </div>
                        </form>
                        </validator>
                        <!--/ form -->
                    </div>
                </div><!--/ form container -->
            </am-panel>

            <!-- form container -->
            <div class="am-g am-g-c">
                <!-- cols -->
                <div class="am-u-md-6">
                    <am-panel title="半屏宽-垂直">
                        <!-- form -->
                        <validator name="v1">
                        <form class="am-form">
                            <div class="am-form-group">
                                <label class="am-form-label">标题</label>
                                <input v-model="model.title" type="text" placeholder="输入标题" v-validate:title="{required: true}">
                                <span class="form-group-msg" v-if="$v1.title.touched && $v1.title.invalid">请输入标题!</span>
                                
                                valid : {{$v1.title.valid}} <br>
                                touched : {{$v1.title.touched}} <br>
                                undefined : {{$v1.title.undefined}} <br>
                                dirty : {{$v1.title.dirty}} <br>
                                pristine : {{$v1.title.pristine}} <br>
                                modified : {{$v1.title.modified}} <br>
                                
                            </div>
                            <div class="am-form-group">
                                <label class="am-form-label">内容</label>
                                <input v-model="model.content" type="text" placeholder="输入内容" v-validate:content="{required: true}">
                                <span class="form-group-msg" v-if="$v1.content.touched && $v1.content.invalid">请输入内容!</span>
                            </div>

                            <div class="am-cf">
                                <form-submit @submit="submit" :disabled="!$v1.valid"></form-submit>
                            </div>

                            valid : {{$v1.valid}} <br>
                            touched : {{$v1.touched}} <br>
                            undefined : {{$v1.undefined}} <br>
                            dirty : {{$v1.dirty}} <br>
                            pristine : {{$v1.pristine}} <br>
                            modified : {{$v1.modified}} <br>
                            
                        </form>
                        </validator>
                        <!--/ form -->
                    </am-panel>
                </div><!-- cols -->
                <!-- cols -->
                <div class="am-u-md-6">
                    <am-panel title="半屏宽-水平">
                        <!-- form -->
                        <validator name="v2">
                        <form class="am-form am-form-horizontal">
                            <div class="am-form-group">
                                <div class="am-u-md-2">
                                    <label class="am-form-label">标题</label>
                                </div>
                                <div class="am-u-md-10">
                                    <input v-model="model.title" type="text" placeholder="输入标题" v-validate:title="{required: true}">
                                    <span class="form-group-msg" v-if="$v2.title.touched && $v2.title.invalid">请输入标题!</span>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <div class="am-u-md-2">
                                    <label class="am-form-label">内容内容</label>
                                </div>
                                <div class="am-u-md-10">
                                    <input v-model="model.content" type="text" placeholder="输入内容" v-validate:content="{required: true}">
                                    <span class="form-group-msg" v-if="$v2.content.touched && $v2.content.invalid">请输入内容!</span>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <div class="am-u-md-12">
                                    <form-submit @submit="submit" :disabled="!$v1.valid" class="am-fr"></form-submit>
                                </div>
                            </div>
                        </form>
                        </validator>
                        <!--/ form -->
                    </am-panel>
                </div><!-- cols -->
            </div>
            <!--/ form wrapper -->
        </template><!--/ mainview-body -->
    </mainview><!--/ mainview -->
</div>
