

<div class="breadcrumb">
    <!-- <div class="container">
        <template v-for="item in items">
            <a v-link="{path: item.link, activeClass:'breadcrumb_link'}" class="breadcrumb_item" :class="{breadcrumb_current: isLast($index)}">
                {{item.name}}
            </a>
            <i v-if="!isLast($index)" class="fa fa-chevron-right breadcrumb_delimiter"></i>
        </template>
    </div> -->

    <ol class="am-breadcrumb am-margin-0 am-link-muted">
        <li><a v-link="{path:'/'}" class="am-icon-home">首页</a></li>
        <li class="am-active">CRUD</li>
    </ol>

    
</div>

