
<div>
    <!-- mainview -->
    <mainview :title="isNew ? '新建': '编辑'">
        <breadcrumb slot="breadcrumb">
            <breadcrumb-item link="/" class="am-icon-home">首页</breadcrumb-item>
            <breadcrumb-item>系统安全</breadcrumb-item>
            <breadcrumb-item link="/security/user">用户管理</breadcrumb-item>
            <breadcrumb-item>{{isNew ? '新建': '编辑'}}</breadcrumb-item>
        </breadcrumb>

        <!-- mainview-body -->
        <template>
            <am-panel title="用户信息">
                <div class="am-g">
                    <div class="am-u-md-10 am-u-md-offset-1">
                        <form class="am-form am-form-horizontal">

                            <div class="am-form-group">
                                <div class="am-u-md-2">
                                    <label class="am-form-label">用户名</label>
                                </div>
                                <div class="am-u-md-4 am-u-end">
                                    <input type="text" v-model="username" class="am-input-sm" placeholder="用户名" :readonly="!!id">
                                </div>
                            </div>
                            <div class="am-form-group">
                                <div class="am-u-md-2">
                                    <label class="am-form-label">昵称</label>
                                </div>
                                <div class="am-u-md-4 am-u-end">
                                    <input type="text" v-model="nickname" class="am-input-sm" placeholder="昵称">
                                </div>
                            </div>
                            <div class="am-form-group">
                                <div class="am-u-md-2">
                                    <label class="am-form-label">电子邮箱</label>
                                </div>
                                <div class="am-u-md-4 am-u-end">
                                    <input type="text" v-model="email" class="am-input-sm" placeholder="电子邮箱">
                                </div>
                            </div>
                            <div class="am-form-group">
                                <div class="am-u-md-2">
                                    <label class="am-form-label">联系电话</label>
                                </div>
                                <div class="am-u-md-4 am-u-end">
                                    <input type="text" v-model="tel" class="am-input-sm" placeholder="联系电话">
                                </div>
                            </div>

                            <div class="am-form-group">
                                <div class="am-u-md-10 am-u-md-offset-2">
                                    <form-submit @submit="submit"></form-submit>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </am-panel>
        </template><!--/ mainview-body -->
    </mainview><!--/ mainview -->
</div>
