

<div class="crud zwkc-yqck-edit">
    
    <div class="crud_head">
        <h1 class="crud_title">政务快车 / 园区窗口 / 编辑</h1>
    </div>

    <section class="am-panel am-panel-c">
        <div class="am-panel-bd">

            <form class="am-form">
                <input type="hidden" name="id" value="{{id}}">
                <div class="am-g am-margin-top">
                    <div class="am-u-md-2 am-text-right">
                        标题
                    </div>
                    <div class="am-u-md-6 am-u-end">
                        <input type="text" name="title" v-model="formData.title" class="am-input-sm" placeholder="标题">
                    </div>
                </div>
                <div class="am-g am-margin-top">
                    <div class="am-u-md-2 am-text-right">
                        摘要
                    </div>
                    <div class="am-u-md-6 am-u-end">
                        <textarea name="summary" rows="8" v-model="formData.summary" placeholder="摘要" class="am-input-sm"></textarea>
                    </div>
                </div>
                <div class="am-g am-margin-top">
                    <div class="am-u-md-2 am-text-right">
                        类型
                    </div>
                    <div class="am-u-md-2 am-u-end">
                        <select name="type" v-model="formData.type" class="am-input-sm">
                            <option value="{{$key}}" v-for="type in types">{{type}}</option>
                        </select>
                    </div>
                </div>
                <div class="am-g am-margin-top-sm">
                    <div class="am-u-md-2 am-text-right admin-form-text">
                        内容
                    </div>
                    <div class="am-u-md-6 am-u-end">
                    <veditor name="content" :content.sync="formData.content"></veditor>
                    </div>
                </div>
            </form>

            <div class="am-g am-margin-top">
                <div class="am-u-md-6 am-u-md-offset-2">
                    <button @click="submit" class="am-btn am-btn-primary am-btn">保存</button>
                </div>
            </div>

        </div>
    </section>
</div>
