
<div>

    <!-- navbar -->
    <header class="am-topbar">
        <ul class="am-nav am-nav-pills am-topbar-nav">
            <li>
                <a v-link="{path: '/ckzj/qzyd'}">
                    <i class="am-icon-list"></i> 帖子列表
                </a>
            </li>
        </ul>
    </header>
    <!-- navbar -->
    <div class="am-g">
        <!-- am-panel -->
        <am-panel title="贴子信息">
            <div slot="body">
                <form class="am-form">
                    <div class="am-g am-margin-top">
                        <div class="am-u-md-2 am-text-right">
                            <b>ID</b>
                        </div>
                        <div class="am-u-md-4 am-u-end">
                            {{model.id}}
                        </div>
                    </div>
                    <div class="am-g am-margin-top" v-if="model.id">
                        <div class="am-u-md-2 am-text-right">
                            <b>标题</b>
                        </div>
                        <div class="am-u-md-4 am-u-end">
                            {{model.title}}
                        </div>
                    </div>
                    <div class="am-g am-margin-top" v-if="model.id">
                        <div class="am-u-md-2 am-text-right">
                            <b>标签</b>
                        </div>
                        <div class="am-u-md-4 am-u-end">
                            <span class="am-badge am-badge-warning am-radius am-margin-right-xs" v-for="item in model.tags">
                                {{item.tag}}
                            </span>
                        </div>
                    </div>
                    <div class="am-g am-margin-top" v-if="model.id">
                        <div class="am-u-md-2 am-text-right">
                            <b>浏览量</b>
                        </div>
                        <div class="am-u-md-4 am-u-end">
                            {{model.count}}
                        </div>
                    </div>
                    <div class="am-g am-margin-top" v-if="model.id">
                        <div class="am-u-md-2 am-text-right">
                            <b>评论数</b>
                        </div>
                        <div class="am-u-md-4 am-u-end">
                            {{model.comment}}
                        </div>
                    </div>
                    <div class="am-g am-margin-top" v-if="model.id">
                        <div class="am-u-md-2 am-text-right">
                            <b>发布时间</b>
                        </div>
                        <div class="am-u-md-4 am-u-end">
                            {{model.pubTime}}
                        </div>
                    </div>
                    <div class="am-g am-margin-top" v-if="model.id">
                        <div class="am-u-md-2 am-text-right">
                            <b>更新时间</b>
                        </div>
                        <div class="am-u-md-4 am-u-end">
                            {{model.updateTime}}
                        </div>
                    </div>
                    <div class="am-g am-margin-top" v-if="model.id">
                        <div class="am-u-md-2 am-text-right">
                            <b>发布者</b>
                        </div>
                        <div class="am-u-md-4 am-u-end">
                            {{model.user}}
                        </div>
                    </div>
                    <div class="am-g am-margin-top" v-if="model.id">
                        <div class="am-u-md-2 am-text-right">
                            <b>内容</b>
                        </div>
                        <div class="am-u-md-4 am-u-end">
                            {{model.content}}
                        </div>
                    </div>
                </form>
            </div>
        </am-panel>
        <!-- am-panel -->
        <!-- am-panel -->
        <am-panel title="评论列表">
            <div slot="body">
                <!-- comments list -->
                <ul class="am-comments-list">
                    <li class="am-comment" v-for="comment in comments">
                        <div class="am-comment-main am-margin-0">
                            <header class="am-comment-hd">
                                <div class="am-comment-meta">
                                    <a href="#link-to-user" class="am-comment-author">{{comment.user}}</a>
                                    评论于 <time>{{comment.time}}</time>
                                </div>
                            </header>
                            <div class="am-comment-bd">
                                {{comment.message}}
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- comments list -->

                <pager :total="model.comment" @paginate.pager="onPaginate"></pager>
            </div>
        </am-panel>
        <!-- am-panel -->
    </div>
</div>
