
<div>

    <!-- navbar -->
    <header class="am-topbar">
        <ul class="am-nav am-nav-pills am-topbar-nav">
            <li>
                <a v-link="{path: '/rzbx/bxyy'}">
                    <i class="am-icon-list"></i> 预约列表
                </a>
            </li>
        </ul>
    </header>
    <!-- navbar -->
    <div class="am-g">
        <!-- am-panel -->
        <am-panel title="申请基本信息">
            <div slot="body">
                <form class="am-form">
                    <div class="am-g am-margin-top">
                        <div class="am-u-md-2 am-text-right">
                            <b>ID</b>
                        </div>
                        <div class="am-u-md-4 am-u-end">
                            {{model.id}}
                        </div>
                    </div>
                    <div class="am-g am-margin-top" v-if="model.id">
                        <div class="am-u-md-2 am-text-right">
                            <b>手机号码</b>
                        </div>
                        <div class="am-u-md-4 am-u-end">
                            {{model.mobile}}
                        </div>
                    </div>
                    <div class="am-g am-margin-top" v-if="model.id">
                        <div class="am-u-md-2 am-text-right">
                            <b>联系人</b>
                        </div>
                        <div class="am-u-md-4 am-u-end">
                            {{model.name}}
                        </div>
                    </div>
                    <div class="am-g am-margin-top" v-if="model.id">
                        <div class="am-u-md-2 am-text-right">
                            <b>模块</b>
                        </div>
                        <div class="am-u-md-4 am-u-end">
                            {{model.category | dict 'rzbx.bxyy.category'}}
                        </div>
                    </div>
                    <div class="am-g am-margin-top">
                        <div class="am-u-md-2 am-text-right">
                            <b>状态</b>
                        </div>
                        <div class="am-u-md-6 am-u-end">
                            <select v-model="model.state" class="am-input-sm">
                                <option value="{{$key}}" v-for="state in states">{{state}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-g am-margin-top" v-if="model.id">
                        <div class="am-u-md-2 am-text-right">
                            <b>备注</b>
                        </div>
                        <div class="am-u-md-6 am-u-end">
                            <textarea rows="3" v-model="model.memo"></textarea>
                        </div>
                    </div>

                    <div class="am-g am-margin-top">
                        <div class="am-u-md-offset-2 am-u-md-8 am-u-end">
                            <button @click.prevent="submit" class="am-btn am-btn-default am-btn-sm"><i class="am-icon-save"></i> 保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </am-panel>
        <!-- am-panel -->
    </div>
</div>
